#logo {
  display: block;
  height: 200px;
  margin: 0 auto;
  width: 40%;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#buttons {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  padding-left: 40px;
}

a .btn {
  width: 40%;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 60px 0 60px 0;
  font-size: 35px;
  background-color: gray;
  border: none;
  color: white;
}
